:root{
    --light-gray: #f5f7f9;
    --gray: #feffff;
    --dark-gray: #eceeef;
    --extra-dark-gray: #868686;
    --blue: #3d84f4;
    --white: #ffffff;
    --black: #000000;

}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  color-scheme: light;
  background-color: #fff;
  color: #000;
}


.box1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: var(--blue);
}

.titulo{
    justify-self: center;
    font-size: 1.8rem;
}

.subtitulo{
    
    justify-self: center;
    font-size: 0.9rem;
    opacity: 0.8;

}

label, p, h3, h4, .data, .link {
    font-size: 0.9rem;
    color: var(--black);
}

.campos{
    display: flex;
    flex-direction: column;
    width: 100vw;
    max-width: 700px;
}

input{
    width: 100%;
    height: 35px;
    font-size: 0.9rem;
    border: none;
    border-radius: 10px;
    padding-left: 10px;
    background-color: var(--light-gray);
    border: 2px solid var(--dark-gray);

}

#input2{
    width: 80%;
}

.div-url-encurtar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px; 
    padding: 0 10px;
}

.btn-encurtar{
    background-color: var(--black);
    color: var(--white);
    width: 18%;
}

.div-url-encurtar input {
    flex: 1; 
    min-width: 0; 
}




.meuLink{
    background-color: var(--white);
    width: 100%;
    padding: 10px;
    margin-top: 5px;
}

.titulo-meu-link{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.div-botoes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.div-meus-links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 8px;
}

.legendaEdita{
    color: var(--black);
}

.btn-copiar{
    width: 75%;
    border-radius: 8px;
    border: 2px solid var(--dark-gray);

}

.btn-edit, .btn-exclui{
    flex: 1;
    border-radius: 8px;
    width: 10%;
    border: 2px solid var(--dark-gray)
}

.btn-encurtar,
button {
    height: 35px;
    font-size: 0.9rem;
    padding: 0.4em 0.8em; 
     flex-shrink: 0;
      width: auto;
    
}

hr{
    width: 90%;
    justify-self: center;
    margin-top: 8px;
    margin-bottom: 8px;
}

.btn-salvar{
    color: var(--white);
    background-color: var(--blue);
}

.data{
    margin-top: 10px;
    margin-bottom: 10px;
    color: var(--extra-dark-gray);
}

#dado{
    color: var(--extra-dark-gray);  
}

.btn-cancelar{
    background-color: var(--light-gray);
    border: 2px solid var(--dark-gray)
}

.input3{
    width: 73%;
}

.div-edicao-link{
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

.link{
    color: var(--blue);
    margin-top: 5px;
    margin-bottom: 5px;
} 
.div-botoes button {
    height: 40px;
}

.box1 > div {
    max-width: 700px; 
}



/* Hoover dos botões */

.btn-encurtar:hover {
    background-color: #2f6ad4; 
    cursor: pointer; 
}

.btn-salvar:hover {
    background-color: #2f6ad4; 
    cursor: pointer;
}

.btn-cancelar:hover {
    background-color: #6e6e6e; 
    cursor: pointer;
}

.btn-edit:hover, .btn-exclui:hover {
    background-color: var(--black);
    cursor: pointer;
}

.btn-copiar:hover {
    background-color: var(--black);
    cursor: pointer;
}



@media (max-width: 1px) {
    .campos{
        width: 90%;
    }
    .div-url-encurtar{
        flex-direction: column;
        gap: 2px;
        flex: 1 1 auto;
        

    }
    .div-edicao-link{
        flex-direction: row; 
        justify-content: flex-start;
        gap: 3px;
        flex-wrap: wrap;
    }
    .btn-copiar{
        flex: 1 1 auto;
    }
    .btn-edit, .btn-exclui{
        flex: 0 0 40px;
    }
}

