:root{
    --light-gray: #f5f7f9;
    --gray: #feffff;
    --dark-gray: #eceeef;
    --extra-dark-gray: #868686;
    --blue: #3d84f4;
    --white: #ffffff;

}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  color-scheme: light;
  background-color: #fff;
  color: #000;
}


.box1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: var(--light-gray);
}

.titulo{
    justify-self: center;
}

.subtitulo{
    justify-self: center;

}

.campos{
    display: flex;
    flex-direction: column;
    width: 50vw;
}

input{
    width: 100%;
    height: 45px;
    border: none;
    border-radius: 10px;
    padding-left: 10px;
    background-color: var(--light-gray);
    border: 2px solid var(--dark-gray);

}

#input2{
    width: 80%;
}

.div-url-encurtar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btn-encurtar{
    background-color: var(--blue);
    color: var(--white);
    width: 18%;
}

.meuLink{
    background-color: var(--white);
    width: 100%;
    padding: 15px;
    margin-top: 5px;
}

.titulo-meu-link{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.div-botoes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.div-meus-links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btn-copiar{
    width: 75%;
    border-radius: 8px;
    border: 2px solid var(--dark-gray);

}

.btn-edit, .btn-exclui{
    border-radius: 8px;
    width: 10%;
    border: 2px solid var(--dark-gray)
}

hr{
    width: 90%;
    justify-self: center;
    margin-top: 8px;
    margin-bottom: 8px;
}

.btn-salvar{
    
    color: var(--white);
    background-color: var(--blue);
}

.data{
    margin-top: 10px;
    margin-bottom: 10px;
    color: var(--extra-dark-gray);
}

#dado{
    color: var(--extra-dark-gray);  
}

.btn-cancelar{
    background-color: var(--light-gray);
    border: 2px solid var(--dark-gray)
}

.input3{
    width: 73%;
}

.div-edicao-link{
    display: flex;
    justify-content: space-between;
}

.link{
    color: var(--blue);
    margin-top: 5px;
    margin-bottom: 5px;
}

